body {
    background-color: rgb(242, 191, 123);
}

@media screen and (min-width: 800px) {
    .first-list {
        display: table-cell;
        width: 50%;
        table-layout: fixed;
        width: 100%;
    }
}

figcaption {
    width: 50%;
    height: 100%;
    text-align: center;
}

.conteiner-menu, .coffee-container, .Franchise {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.clicklink {
    left: 100%;
    
}

.about {
    width: 100%;
    text-align: center;
    display: flex;
    grid-gap: 10px;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 15px 15px 15px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

img {
    border-radius: 20px;
    width: 550px;
    height: 100%;
    box-shadow: 0px 10px 10px 0px;
}

button {
    background-color: rgb(242, 191, 123);
    border-radius: 8px;
    font-size: 16px;
    width: 150px;
    height: 40px;
    transition: all 0.3s ease;
    border: none;
    margin-top: 30px;
}

button:active {
    transform: translateY(2px);
}

button:hover {
    background: #556b2f;
}



.owner {
    position: relative;
    width: 100%;
    height: 600px;
}

.owner h1 {
    text-align: center;
}

.owner img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand {
    position: absolute;
    right: 30px;
    top: 150px;   
}

.aboutme {
    margin: 0 auto;
    text-align: center;
    width: 200px;
    border-radius: 8px;
    background-color: #556b2f;
}

.coffee {
    width: 100%;
}


.menuimg {
    object-fit: contain;
    width: 30%;
}