body {
    background-color: rgb(242, 191, 123);
    margin: 0;
}

.perv-slova {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 360px;
    min-height: 300px;
}

@media screen and (min-width: 1000px) {
    .perv-slova {
        min-width: 1000px;
        min-height: 500px;
    }
}

.block-text {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: absolute;
    top: 150px;
}

.first-text {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.block-image {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-image {
    border-radius: 20px;
}

@media screen and (min-width: 1000px) {
    .first-image {
        width: 100%;
        height: 100%;
    }
}

h2 {
    text-align: center;
    width: 200px;
    background-color: rgb(96, 108, 56);
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 5px;
}

.menu {
    min-width: 360px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.swiper {
    height: 450px;
    width: 1200px;
}

.swiper-wrapper {
    width: max-content;
    height: max-content;
    gap: 10px;
}

.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.swiper-box {
    width: 100%;
    height: 100%;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 280px;
    border: 2px solid rgb(96, 108, 56);
    border-radius: 10px;
}

.swiper-card:hover {
    box-shadow: 1em 1em 2em rgba(10, 10, 10, 0.2);
}

.image-slide {
    height: 65%;
    width: 70%;
    border-radius: 10px;
}