body {
    text-align: center;
    background-color: rgb(242, 191, 123);
}

.rasskaz {
    height: 450px;
    width: 100%;
}

.zagolovok {
    width: 45%;
    height: 50px;
    padding-top: 15px;
    background-color: rgb(96, 108, 56);
    border-radius: 20px;
    margin-left: 27.5%;
}