<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/footer.css">
    <title>Document</title>
</head>
<body>
    <footer>
    <section class="location">
        <p>Наш головной офис находится по адресу:<address>Город Рязань, ул. Ленина 24</address></p>
    </section>
    <section class="creators">
        <p>на данной странице используются картинки с сайта Freepik</p>
    </section>
    <section class="map">
        <p>Тут должна быть карта</p>
    </section>
    </footer>
</body>
</html>