<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/franchise.css">
    <title>Франшизы GoodCofee</title>
    <link rel="icon" href="static/icon/favicon.ico" type="image/x-icon">
</head>
<body>
    <h1>Откройте кофейню в своём городе и станьте частью семьи GoodCofee</h1>
    <div>
        <h2>Почему именно мы? </h2>
        <li>Отсутствие паушального взноса</li>
        <li>Роялти всего 2%</li>
        <li>Тренинги для наших франчайзи каждые полгода</li>
        <li>Более 200 открытых кофейн по всей России</li>
    </div>
    <div>
        <h2>Что входит в стоимость франшизы?</h2>
        <li>Ремонт: мы полностью берём на себя заказ материалов и разработку дизайна</li>
        <li>Маркетинг: мы разрабатываем стратегию, создаём брендбуки</li>
        <li>Меню: мы персонально для каждой кофейни создаём меню</li>
    </div>
    <div>
        <h2>Стационарная кофейня с кухней</h2>
        <li>Вложения - от 5млн </li>
        <li>Рекомендуемая площадь - от 50кв до 100кв</li>
        <li>Примерная прибыль - от 250тыс.</li>
        <li>Примерная окупаемость - 12мес.</li>
        <div class="container">
            <img href="static/Image-franchise/people-coffee-shop.jpg">
        </div>
    </div>
    <div>
        <h2>Стационарная кофейня без кухни</h2>
        <li>Вложения - от 3млн</li>
        <li>Рекомендуемая площадь - 30кв до 50кв</li>
        <li>Примерная прибыль - от 100тыс.</li>
        <li>Примерная окупаемость - 18мес.</li>
    </div>
</body>
</html>