<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/menu.css">
    <link rel="stylesheet" href="{{url_for('static', filename='swiper-bundle.min.css')}}">
    <title>Меню</title>
    <link rel="icon" href="static/icon/favicon.ico" type="image/x-icon">
</head>
<body>
    <section class="perv-slova">
        <div class="block-text">
            <h1 class="first-text">Мы всегда стараемся сделать наше меню разнообразным!</h1>
        </div>
        <figure class="block-image">
            <img class="first-image" src="static/image-menu/CoffeeMenu.jpg">
        </figure>
    </section>
    <section class="menu">
        <h2>Сэндвичи</h2>
        <section class="menu">
            {% with products = sandwichs, slider_id = 'sandwich' %}
                <div class="swiper {{ slider_id }}-swiper">
                    <div class="swiper-wrapper">
                        {% for item in products %}
                        <div class="swiper-slide">
                            <div class="product-card">
                                <img class="image-slide" src="{{ url_for('static', filename='image-menu/' + item.photo) }}" alt="{{ item.title }}">
                                <h3>{{ item.title }}</h3>
                                <p class="price">Цена: {{ item.price }} ₽</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="swiper-button-prev">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            {% endwith %}
        </section>
        <h2>Круассаны</h2>
        <section class="menu">
            {% with products = croissants, slider_id = 'croissant' %}
                <div class="swiper {{ slider_id }}-swiper">
                    <div class="swiper-wrapper">
                        {% for item in products %}
                        <div class="swiper-slide">
                            <div class="product-card">
                                <img class="image-slide" src="{{ url_for('static', filename='image-menu/' + item.photo) }}" alt="{{ item.title }}">
                                <h3>{{ item.title }}</h3>
                                <p class="price">Цена: {{ item.price }} ₽</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="swiper-button-prev">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            {% endwith %}
        </section>
        <h2>Салаты</h2>
        <section class="menu">
            {% with products = salats, slider_id = 'salat' %}
                <div class="swiper {{ slider_id }}-swiper">
                    <div class="swiper-wrapper">
                        {% for item in products %}
                        <div class="swiper-slide">
                            <div class="product-card">
                                <img class="image-slide"  src="{{ url_for('static', filename='image-menu/' + item.photo) }}" alt="{{ item.title }}">
                                <h3>{{ item.title }}</h3>
                                <p class="price">Цена: {{ item.price }} ₽</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="swiper-button-prev">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            {% endwith %}
        </section>
        <h2>Кофе</h2>
        <section class="menu">
            {% with products = coffee, slider_id = 'coffee' %}
                <div class="swiper {{ slider_id }}-swiper">
                    <div class="swiper-wrapper">
                        {% for item in products %}
                        <div class="swiper-slide">
                            <div class="product-card">
                                <img class="image-slide" src="{{ url_for('static', filename='image-menu/' + item.photo) }}" alt="{{ item.title }}">
                                <h3>{{ item.title }}</h3>
                                <p class="price">Цена: {{ item.price }} ₽</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="swiper-button-prev">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            {% endwith %}
        </section>
        <h2>Чаи</h2>
        <section class="menu">
            {% with products = black_tea, slider_id = 'blacktea' %}
                <div class="swiper {{ slider_id }}-swiper">
                    <div class="swiper-wrapper">
                        {% for item in products %}
                        <div class="swiper-slide">
                            <div class="product-card">
                                <img class="image-slide" src="{{ url_for('static', filename='image-menu/' + item.photo) }}" alt="{{ item.title }}">
                                <h3>{{ item.title }}</h3>
                                <p class="price">Цена: {{ item.price }} ₽</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="swiper-button-prev">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            {% endwith %}
        </section>
        <h2>Зелёные чаи</h2>
        <section class="menu">
            {% with products = green_tea, slider_id = 'greentea' %}
                <div class="swiper {{ slider_id }}-swiper">
                    <div class="swiper-wrapper">
                        {% for item in products %}
                        <div class="swiper-slide">
                            <div class="product-card">
                                <img class="image-slide" src="{{ url_for('static', filename='image-menu/' + item.photo) }}" alt="{{ item.title }}">
                                <h3>{{ item.title }}</h3>
                                <p class="price">Цена: {{ item.price }} ₽</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="swiper-button-prev">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            {% endwith %}
        </section>
        <h2>Рафы</h2>
        <section class="menu">
            {% with products = raf_coffee, slider_id = 'rafcoffee' %}
                <div class="swiper {{ slider_id }}-swiper">
                    <div class="swiper-wrapper">
                        {% for item in products %}
                        <div class="swiper-slide">
                            <div class="product-card">
                                <img class="image-slide" src="{{ url_for('static', filename='image-menu/' + item.photo) }}" alt="{{ item.title }}">
                                <h3>{{ item.title }}</h3>
                                <p class="price">Цена: {{ item.price }} ₽</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="swiper-button-prev">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            {% endwith %}
        </section>
    </section>
    {% include 'footer.html' %}
<script src="{{ url_for('static', filename='JS/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='JS/menu-swiper.js') }}"></script>
</body>
</html>