<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/menu.css">
    <title>Меню</title>
    <link rel="icon" href="static/icon/favicon.ico" type="image/x-icon">
</head>
<body>
    <section class="menu">
        <!--Всю информацию импортировать из базы данных-->
        <!--Пока оставлю как есть-->
        <h2 class="razdel">Кофе</h2>
        <nav class="primer">
            <section class="kartochka">
                <figure>
                    <img src="static/image-menu/Latte.jpg">
                </figure>
                <figcaption>
                    <p>Латте</p>
                    <p>цена: 100руб.</p>
                </figcaption>
            </section>
            <section class="kartochka">
                <figure>
                    <img src="static/image-menu/Kapuchino.jpg">
                </figure>
                <figcaption>
                    <p>Капучино</p>
                    <p>цена: 120руб.</p>
                </figcaption>
            </section>
        </nav>
    </section>
    <section class="menu">
        <h2 class="razdel">Рафы</h2>
        <nav class="primer">
            <section class="kartochka">
                <figure>
                    <img src="static/image-menu/rafcoffee.jpg">
                </figure>
                <figcaption>
                    <p>Раф классический</p>
                    <p>цена: 175руб.</p>
                </figcaption>
            </section>
        </nav>
    </section>
    <section class="menu">
        <h2>Чаи</h2>
        <nav class="primer">
            <section class="kartochka">
                <figure>
                    <img src="static/image-menu/green_tea.jpg">
                </figure>
                <figcaption>
                    <p>Зелёный чай</p>
                    <p>цена: 100руб.</p><!--откорректировать цену в базе данных-->
                </figcaption>
            </section>
        </nav>
    </section>
    <section class="menu">
        <h2>Кондитерские изделия</h2>
    </section>
    <section class="menu">
        <h2>Сэндвичи</h2>
        <nav class="primer">
            <section class="kartochka">
                <figure>
                    <img src="static/image-menu/Croissants/croissant_s_kyricey_i_ogyrcami.jpg">
                </figure>
                <figcaption>
                    <p>Сэндвич на круассане с курицей</p>
                    <p>цена: 190руб.</p>
                </figcaption>
            </section>
        </nav>
    </section>
    <section class="menu">
        <h2>Салаты</h2>
        <nav>
            <section class="kartochka">
                <figure>
                    <img src="static/image-menu/salat_Good.jpg">
                </figure>
                <figcaption>
                    <p>Фирменный салат Good</p>
                    <p>цена: 240руб.</p>
                </figcaption>
            </section>
        </nav>
    </section>
</body>
</html>