<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/story.css">
    <link rel="icon" href="static/icon/favicon.ico" type="image/x-icon">
    <title>История GoodCofee</title>
</head>
<body>
    <h1>На этой странице Вы можете погрузиться в нашу историю</h1>
    <section class="rasskaz">
        <h2 class="zagolovok">Первый кофе</h2>
        <p>Всё началось с момента, когда я с мамой впервые пришла в кофейню...</p>
    </section>
    <section class="rasskaz">
        <h2 class="zagolovok">Поиск идеала</h2>
        <p>После университета я твёрдо решила, что буду открывать свою кофейню...</p>
    </section>
    <footer>
        <section class="location">
            <p>Наш головной офис находится по адресу <address>Город Рязань, ул. Ленина 24</address></p>
        </section>
        <section class="map">
            <p>Тут должна быть карта</p>
        </section>
    </footer>
</body>
</html>